:root {
  --color-surface: #471739;
  --color-primary: #feffb0;
  --color-primary-light: #feffb0be;
  --color-text: #feffb0;
  --color-text-light: #feffb0be;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: monospace;
  background-color: var(--color-surface);
  font-size: 1em;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

div,
p,
span,
hr {
  color: var(--color-text);
}

hr {
  border-color: var(--color-text);
  border-style: dashed;
}
button {
  cursor: pointer;
}

input, button {
  color: var(--color-text);
  background: inherit;

  /* classic windows style 3D border  */
  border-color: var(--color-surface);
  border-style: inset;
  padding: 6px 12px;
  /* underline border */
  /* border-color: var(--color-primary);
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0 5px 0; */
}

input::placeholder {
  color: var(--color-text-light);
}

*::selection {
  background-color: var(--color-primary);
  color: var(--color-surface);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* custom inserted for cool effect */
  text-transform: lowercase !important;
}

/* Remove outline on focus elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Custom container definition */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    container-type: inline-size;
    container-name: xs;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    container-type: inline-size;
    container-name: xs sm;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    container-type: inline-size;
    container-name: xs sm md;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    container-type: inline-size;
    container-name: xs sm md lg;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    container-type: inline-size;
    container-name: xs sm md lg xl;
  }
}
