:root {
  --color-surface: #440d2f;
  --color-primary: #fbfcc2;
  --color-primary-light: #b0b18f;
  --color-text: #fbfcc2;
  --color-text-light: #b0b18f;
  --color-error: #ff1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* highliting using theme colors */
::selection {
  background-color: var(--color-primary);
  color: var(--color-surface);
  text-shadow: none;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  border-color: var(--color-surface);
  border-style: inset;
  padding: 6px 12px;
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-primary-light) !important;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--color-surface);
  font-size: 1em;
  font-weight: 300;
  font-family: "Spline Sans Mono", monospace;
}

body,
body * {
  /* for cool lowercase effect because i am edgy */
  text-transform: lowercase !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

div,
p,
span,
hr,
li {
  color: var(--color-text);
}

ul,
ul li {
  list-style-type: square;
}

hr {
  border-color: var(--color-text);
  border-style: dashed;
}

button {
  cursor: pointer;
}

input,
button {
  color: var(--color-text);
  font-family: inherit;
  font-weight: inherit;
  background: inherit;

  /* classic retro style 3D border  */
  border-color: var(--color-surface);
  border-style: inset;
  padding: 6px 12px;
}

input::placeholder {
  color: var(--color-text-light);
}

/* Remove outline on focus elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Remove number spin button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number spin button */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* React root */
#root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

/* Custom classes */

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 350px;
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  font-size: 0.8em;
  color: var(--color-error);
  font-weight: 400;
}

/* Custom container definition */

@media only screen and (max-width: 600px) {
  /* Extra small devices (phones, 600px and down) */
  body {
    container-type: inline-size;
    container-name: xs;
  }
}

@media only screen and (min-width: 600px) {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  body {
    container-type: inline-size;
    container-name: xs sm;
  }
}

@media only screen and (min-width: 768px) {
  /* Medium devices (landscape tablets, 768px and up) */
  body {
    container-type: inline-size;
    container-name: xs sm md;
  }
}

@media only screen and (min-width: 992px) {
  /* Large devices (laptops/desktops, 992px and up) */
  body {
    container-type: inline-size;
    container-name: xs sm md lg;
  }
}

@media only screen and (min-width: 1200px) {
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  body {
    container-type: inline-size;
    container-name: xs sm md lg xl;
  }
}

/* Fonts definition */
@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 700;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 700;
  font-style: italic;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-BoldItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 400;
  font-style: italic;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-Italic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 300;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-Light.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 300;
  font-style: italic;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-LightItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 500;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 500;
  font-style: italic;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-MediumItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 400;
  font-weight: normal;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Mono";
  font-weight: 600;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-SemiBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spline Sans Mono";
  font-weight: 600;
  font-style: italic;
  src: local("Spline Sans Mono"),
    url("./assets/font/spline-sans-mono/static/SplineSansMono-SemiBoldItalic.ttf")
      format("truetype");
}
